@using SkinShop.ViewModel.User
@model SkinShop.ViewModel.User.ProfileViewModel

<div class="container">
    <div class="rowz">
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h1>Change Profile</h1>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="post">
            <label class="control-label">Name</label><br />
            <input asp-for="User.Name" type="text" class="form-control"  value="@Model.User.Name" required/>


            <label class="control-label">LastName</label><br />
            <input asp-for="User.Lastname" type="text" class="form-control" value="@Model.User.Lastname" required/>


            <label class="control-label">Email</label><br />
            <input asp-for="User.Email" type="email" class="form-control" value="@Model.User.Email" required/>


            <label class="control-label">Password</label><br />
            <input asp-for="User.Password" type="password" class="form-control" value="@Model.User.Password" required/>

            <br />
            <div class="btnAlignCenter">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>