@model SkinShop.ViewModel.User.ProfileViewModel

<div class="rowz">

</div>
<div class="container">
    <div class="products">
        <div class="txt-heading">Admin</div>


        <form method="post" asp-controller="Order" asp-action="PlaceOrder">


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AdminList)
                    {
                        <tr>
                            <th scope="row">@item.UserID</th>
                            <td>
                                <label>@item.Name</label>

                            </td>

                            <td>
                                <label>@item.Lastname</label>
                            </td>
                            <td>
                                <label><button type="submit" formmethod="post" asp-controller="Admin" asp-action="DeleteAdmin" asp-route-UserID="@item.UserID">Deletes</button></label>
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </form>
    </div>
</div>