@using SkinShop.ViewModel.User
@model SkinShop.ViewModel.Product.ProductSpecificationViewModel

<div class="container">
    <div class="rowz">
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h1>Edit Product</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" asp-controller="Product" asp-action="EditProduct">
                <input type="hidden" value="@Model.Product.ProductID" asp-for="Product.ProductID" class="form-control" />
                <label asp-for="Product.Type" class="control-label">Type</label><br />
                <input asp-for="Product.Type" class="form-control" />

                <label asp-for="Product.Productname" class="control-label">Name</label><br />
                <input asp-for="Product.Productname" class="form-control" />

                <label asp-for="Product.Productprice" class="control-label">Prijs</label><br />
                <input asp-for="Product.Productprice" class="form-control" />
                <br />
                <input type="file" asp-for="Product.Images" />

                <div class="form-group">
                    <label asp-for="Product.Description">Description</label>
                    <textarea asp-for="Product.Description" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                </div>

                <br />
                @*<form method="post" asp-controller="Product" asp-action="UpdateProduct">
            <button class="btn btn-default basicbutton" type="submit">Update Product</button>
        </form>*@
                <button type="submit">EditProduct</button>
            </form>
        </div>
    </div>
</div>



