
@{
    ViewData["Title"] = "Home Page";
}

<section id="showcase"></section>
<section id="newsletter">
    <div class="container">


    </div>
</section>
<section id="boxes">
    <div class="container">
        <a route-href="route:producten" class="nav-tekst">
            <div class="box">
                <h3>Pax Sivir</h3>
                <img src="~/images/PaxSivir.jpg" height="328">
            </div>
        </a>

        <a route-href="route:producten" class="nav-tekst">
            <div class="box">
                <h3>Pax Rengar</h3>
                <img src="~/images/rengar.jpg" height="328">
            </div>
        </a>

        <a route-href="route:producten" class="nav-tekst">
            <div class="box">
                <h3>RDA Akali</h3>
                <img src="~/images/KDA Akali.jpg" height="328">
            </div>
        </a>

        <a route-href="route:producten" class="nav-tekst">
            <div class="box">
                <h3>Emperor Kench</h3>
                <img src="~/images/Emperor Kench.jpg" height="328">
            </div>
        </a>
    </div>
</section>