/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Menu*/
.rechterkant {
    float: right;
}


#showcase {
    min-height: 400px;
    background-color: red;
    text-align: center;
    color: #ffffff;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 20%;
    padding: 10px;
}

.rowz {
    margin-top: 100px;
}


/* ProductPagina per product */
sectionProduct {
    height: 100%;
    margin: 0 0 0 15%;
}
/* ProductImage Current pagina */
.productImage {
    float: left;
}

/* ProductInfo zoals prijs en specificaties */
.productInfo {
    margin-left: 60%;
}


#btnSucces {
    width: 90%;
}

.ProductSection {
    margin-top: 150px;
}



/*Products page*/

#inputEachProduct {
    width: 30px
}


.eachproduct {
    float: left;
    padding: 15px;
    margin: 10px 15px 0 15px;
    border: solid black 1px;
}



.productname {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.productprice {
    font-size: 20px;
}

.btnSubmit {
    float: right;
    margin-right: 10px;
}


.Info {
    overflow: hidden;
    border: 1px solid black;
}

.Order-Info {
    margin-top: 10px;
}

    .Order-Info ul {
        padding-left: 30px;
    }

.SaleInfo {
    float: left;
    margin: 15px 0 0 10px;
}